body {
    margin: 0;
    padding: 0;
    background-image: url("img.jpg"); /* URL to your background image */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif; /* Choose your preferred font */
    color: #fff; /* Text color */
}

.container-2 {
    padding: 20px;
    background-color: #000000; 
}

form {
    color: black;
}